# VPC
ec2_vpc_name: VPC_RHEL
ec2_vpc_region: us-east-1
ec2_vpc_cidr: 10.0.0.0/16
# Subnet
ec2_subnet_name: Subnet_RHEL
ec2_subnet_cidr: 10.0.0.0/24
# IGW
ec2_igw_name: IGW_RHEL
# Route Table
ec2_rt_name: RT_RHEL
# RHEL Rules
ec2_sg_name: SG_RHEL
ec2_sg_rules:
  - proto: tcp
    ports:
      - 80
      - 443
      - 22
    cidr_ip: 0.0.0.0/0
    rule_desc: Allow all on ports
  - proto: icmp
    icmp_code: -1 # icmp type, -1 = any type
    icmp_type:  -1 # icmp subtype, -1 = any subtype
    cidr_ip: 0.0.0.0/0
    rule_desc: Allow all ICMP
# AMI
#ec2_image_name: RHEL-8.6.0_HVM-*x86_64*
ec2_image_name: RHEL-9.5_HVM*
# Flavour 
ec2_flavor_name: t2.micro
# Disk
ec2_disk_size: 20
ec2_ebs_name: /dev/sda1
# Key Pair
ec2_key_name: "KeyPair-Virginia"
# Instance
ec2_instance_name: rhel-1

ec2_rhel_user: "{{ ansible_user }}"
ec2_rhel_pass: "{{ ansible_password }}"